<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./static/index.css" />
</head>
<body>
    <h1>{{datas.appName}}</h1>
    <h2>{{title}}</h2>
    <hr/>
    <form action="./addtask?title=nagato" method="POST">
        <input type="text" name="title" />
        <button>提交</button>
    </form>
</body>
</html>