<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="/static/index.css" />
</head>
<body>
    <div id="app">
        <h1>App</h1>
        <input type="text" v-model="title" />
        <button @click="add">添加</button>

        <hr/>
        <ul>
            <li v-for="todo of todos" :key="todo.id" :class="{done: todo.done}">
                <input type="checkbox" :checked="todo.done" @click.prevent="toggle(todo.id, !todo.done)" />
                <span>#{{todo.id}} {{todo.title}}</span><button @click="remove(todo.id)">删除</button>
            </li>
        </ul>
        <div class="pages">
            <a @click.prevent="changePage(n)" href="" v-for="n of pages">{{n}}</a>
        </div>
        <div class="footer">
            <button :class="{active: type===''}" @click="changeType('')">所有</button>
            <button :class="{active: type===1}" @click="changeType(1)">已完成</button>
            <button :class="{active: type===2}" @click="changeType(0)">未完成</button>
        </div>
    </div>

    <script>
        
        new Vue({
            el: '#app',
            data: {
                title: '',
                curPage: 1,
                curPageSize: 3,
                pages: 0,   // 总页数
                todos: [],
                type: '',   // 查询类型  【所有，已完成，未完成】
            },
            created() { // 初始化时执行的方法
                this.list();
            },
            methods: {
                list() {
                    fetch('/todos?curPage=' + this.curPage 
                        + '&curPageSize=' + this.curPageSize 
                        + '&type=' + this.type).then(res => {
                        return res.json();
                    }).then(data => {
                        this.todos = data.data;
                        this.pages = data.pages;
                        this.curPage = data.curPage;
                        this.curPageSize = data.curPageSize;
                    });
                },
                changePage(n) {
                    this.curPage = n;
                    this.list();
                },
                changeType(m){
                    this.type = m;
                    this.list();
                },
                add() {
                    fetch('/add', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8'
                        },
                        body: JSON.stringify({title: this.title}),
                    }).then(res => {
                        return res.json();
                    }).then(data => {
                        this.todos = data;
                        this.title = '';
                    });
                },
                remove(id) {
                    fetch('/remove', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8'
                        },
                        body: JSON.stringify({id}),
                    }).then(res => {
                        return res.json();
                    }).then(data => {
                        this.todos = data;
                    });
                },
                toggle(id, done){
                    fetch('/update', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8'
                        },
                        body: JSON.stringify({id, done}),
                    }).then(res => {
                        return res.json();
                    }).then(data => {
                        this.list();
                    });
                }
            }
        });

    </script>
</body>
</html>